@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-accent: #56a3a6;
  --color-text: #484538;
  --color-soft: #cad49d;
  --color-light: #d4eac8;
  --color-alt: #c0d8e0;
  --color-coral: #f07167;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
}

@layer components {
  .draw-flow path {
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
    animation: flow 8s linear infinite;
  }

  .draw-flow path:nth-child(2) {
    animation-delay: 1s;
  }

  .draw-flow path:nth-child(3) {
    animation-delay: 2s;
  }

  @keyframes flow {
    0% {
      stroke-dashoffset: 1400;
      opacity: 0.5;
    }
    50% {
      stroke-dashoffset: 0;
      opacity: 0.15;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 0;
    }
  }
}

.bg-accent-gradient {
  background: linear-gradient(
    to bottom,
    rgba(86, 163, 166, 0) 0%,
    rgba(86, 163, 166, 0.25) 100%
  );
}

.bg-background-invert-gradient {
  background: linear-gradient(
    to bottom,
    rgba(86, 163, 166, 0.25) 0%,
    rgba(86, 163, 166, 0) 100%
  );
}

/* Dark Mode Theme */

body.dark {
  background-color: var(--color-text);
  color: var(--color-accent);
}
